{% extends "Front/layout.html.twig" %}

{% block title %}Blog{% endblock %}

{% block content %}
<!--====================================================================================================================
#                                                                                                                      #
#                                                Messages                                                              #
#                                                                                                                      #
=====================================================================================================================-->
    <div class="container">
        <div class="row">

            {% if messagesSuccess is defined and messagesAlert is not defined %}

                <div class="alert alert-success">

                    {% for message in messagesSuccess %}
                        {{ message }} <br />
                    {% endfor %}

                </div>

            {% endif %}

            {% if messagesInfo is defined %}

                <div class="alert alert-info">

                    {% for message in messagesInfo %}
                        {{ message }} <br />
                    {% endfor %}

                </div>

            {% endif %}

            {% if messagesWarning is defined %}

                <div class="alert alert-warning">

                    {% for message in messagesWarning %}
                        {{ message }} <br />
                    {% endfor %}

                </div>

            {% endif %}

            {% if messagesDanger is defined %}

                <div class="alert alert-danger">

                    {% for message in messagesDanger %}
                        {{ message }} <br />
                    {% endfor %}

                </div>

            {% endif %}

        </div>
    </div>
<!--=================================================================================================================-->


    <div class="container">
        <div class="row">
            <h1>Rien à afficher pour l'instant</h1>
        </div>

    </div>

{% endblock %}
