<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>My_little_blog - home</title>
</head>
<body>
<header>
    <h1>Oups !!!</h1>
    <h3>Erreur 404 :(</h3>
</header>
<p>Il semblerait que cette page n'existe pas...</p>
<footer class="footer">

</footer>
</body>
</html>
