{% extends "Back/layout.html.twig" %}

{% block title %}Administration des Commentaires{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <p>ICI se trouvera l'affichage des Commentaires</p>
        </div>
    </div>

{% endblock %}