{% extends "Back/layout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Bienvenue sur l'administration du blog</h1>
        <p>Bienvenue sur cette interface d'administration. Choisissez une action.</p>
    </div>
</div>

{% endblock %}
